{:paths   ["src" "test"]
 :deps    {}
 :aliases {:cljs {:extra-deps {reagent/reagent   {:mvn/version "1.1.0"}
                               re-frame/re-frame {:mvn/version "1.2.0"}

                               binaryage/devtools {:mvn/version "1.0.3"}


                               day8.re-frame/http-fx       {:mvn/version "v0.2.0"}
                               com.github.mainej/re-stated {:mvn/version "0.2.22"
                                                            #_#_:local/root ".."}
                               com.github.mainej/headlessui-reagent {:mvn/version "1.4.2.43"}
                               }}
           :cljs/dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.15.10"}}}}}
